{{#each model as |product|}}
    <div class="col-md-4">
        {{#product-card product=product}}
            <button class="btn btn-danger btn-xs" {{action 'deleteProduct' product}}>VAPORIZE</button>                     
            {{#link-to 'products.edit' product.id class='btn btn-success btn-xs'}}MOD{{/link-to}}
        {{/product-card}}
    </div>
{{/each}}
