<div class="row">
    {{#each model as |product|}}
        <div class="col-md-4">
            {{#product-card product=product}}
                {{#link-to 'products.edit' product.id class='btn btn-success btn-xs'}}Mod this{{/link-to}}
                <button class="btn btn-danger btn-xs" {{action 'deleteProduct' product}}>Vaporize it!</button>                     
            {{/product-card}}
        </div>
    {{/each}}
</div>