<div class="col-sm-8">
    {{#product-form product=model.product manufacturers=model.manufacturers categories=model.categories heading="Add a new piece of gear"}}
        <button type="submit" class="btn btn-success" {{action 'createProduct' model.product}}>Create it</button>
    {{/product-form}}
</div>
<div class="col-sm-4">
    {{#product-card product=model.product}}
        <br/>
    {{/product-card}}
</div>