<h3>Gear</h3>

<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <ul class="nav nav-pills">
              {{#nav-link-to 'products.index'}}All gear{{/nav-link-to}}
              {{#nav-link-to 'products.new'}}Add new gear{{/nav-link-to}}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    {{outlet}}
</div>